#banner {
	background: url( ../images/jquery-logo.png ) 48% center no-repeat;
	height: 200px;
	margin-top: 50px;
	text-indent: -9999px;
	overflow: hidden;
	
	-webkit-background-size: 247px 143px;
	   -moz-background-size: 247px 143px;
	     -o-background-size: 247px 143px;
	        background-size: 247px 143px;
	position: relative;
}