<div data-role="header" data-position="fixed">
  <a data-rel="back" data-icon="arrow-l" class="ui-btn-left">Back</a>
  <h1>Edit Stylist Info</h1>
      <% @grm_stylists.each do |grm_stylist| %>
      <li>
        <%= button_to 'Delete', grm_stylist, method: :delete %>
      </li>
    <% end %>
</div>

<div data-role="content">
  <%= render 'form' %>
</div>

<div data-role="footer" data-mini="true" data-position="fixed">
  <div data-role="navbar" data-theme="a" data-mini="true">
    <ul>
      <li><a href="../../index.html" data-icon="home">Home</a></li>
      <li><a href="../../index.html" data-icon="arrow-r">Take Pic</a></li>
      <li><a href="../../index.html#settings" data-icon="gear">Settings</a></li>
      <li><a href="../../index.html#about_us" data-icon="info">About Us</a></li>
    </ul>
  </div>
</div>
